<div class="authContainer">
    <form>
        <input class='input' name='email' placeholder="enter your email" />
        <input class='input' name='password' placeholder="enter your password" />
        <div class='btn-group'>
            <button>Register</button>
            <button>Login</button>
        </div>
    </form>
</div>