<form class="formAdd">
        <input required class="nicknameAdd" name="nickName" placeholder="enter your nickname...">
        <input required class="titleAdd" name="title" placeholder="enter task name...">
        <input required class="descriptionAdd" name="description" placeholder="enter task description...">
        <input required type="date" class="deadlineAdd" name="deadline"/>
        <button class="addTaskSubmit" type="submit">Add Task</button>
</form>