

<div class="registartionForm">
    <form>
        <input class='input' name='displayName' placeholder="nickname" required/>
        <input class='input' type="email" name='email' placeholder="enter your email" required/>
        <input class='input' type="password" name='password' placeholder="enter your password" required/>
        <input class='input' type="password" name='passwordConfirm' placeholder="confirm your password" required/>
        <input class='input' name='photoURL' placeholder="profile image url" />
        {{!-- <div class='btn-group'> --}}
            <button type="submit">Register</button>
        {{!-- </div> --}}
    </form>
    <div class="change-position">
    <button class="go-change" data-action="go-log">Already registered?</button>
    </div>
</div>
